

<launch>
    <!-- Arguments -->
    <arg name="model" default="waffle_pi" />
    <arg name="bag_name" default="hallway" />

    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- Rosbag -->
    <param name="/use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="rosbag_player"
        args="--clock $(find turtlebot3_datasets)/data/1.bag" />

    <!-- TF2 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster"
        args="0 0 0 0 0 0 /base_footprint /base_link" />

    <!-- gmapping -->
    <node pkg="gmapping" name="slam" type="slam_gmapping" output="screen">
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
        <param name="map_frame" value="map" />
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"/>
</launch>
